* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

$form-width: 500px;
$form-height: 200px;

.login-form {
    display: block;
    position: absolute;
    width: $form-width;
    height: $form-height;
    margin-top: 200px;
    padding: 15px;
    left: calc(50% - #{$form-width}/2);
    border: 3px solid black;
    border-radius: 15px;
    font-size: 20px;

    &__title {
        width: fit-content;
        margin: 0 auto;
        margin-top: 5px;
    }

    &__input {
        margin-top: 15px;
        width: 100%;
        height: 40px;
    }

    &__button {
        display: block;
        width: 75%;
        margin: 30px auto 0 auto;
        height: 50px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 20px;
        
        &:hover {
            transform: scale(1.05);
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.chat {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    max-height: 500px;
    margin: 100px auto 0 auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;

    &__messages {
        width: 100%;
        height: 350px;
        overflow-y: scroll;
    }

    &__message {
        width: 400px;
        background-color: white;
        height: fit-content;

        &:nth-child(n + 2) {
            margin-top: 15px;
        }
    }

    &__name {
        color: grey;
        font-size: 12px;
    }

    &__article {
        margin-top: 20px;
        font-size: 18px;
    }

    &__input {
        margin-top: 40px;
        padding: 10px;
        width: 100%;
        height: 50px;
        border: 1px solid black;
        border-radius: 15px;

        &:active, &:focus {
            outline: none;
            border-width: 3px;
        }
    }
}